body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container {
    border-radius: 20px;
    width: 90vw;    
    height: 95vh;
    margin: auto;   /* 中央寄せ */
}

h1 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap; /* ボタンが多すぎるときに折り返す */
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.color-palette {
    display: flex;
    gap: 5px;
    margin-right: 10px; /* 他のボタンとの間隔 */
}

.color-button {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 50%; /* 丸いボタン */
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
    padding: 0; /* 余分なパディングを削除 */
}

.color-button.active {
    border-color: #333; /* 選択中の色を強調 */
    transform: scale(1.2); /* 選択中の色を少し大きく */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #87CEEB; /* スカイブルー */
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6495ED; /* コーポレートブルー */
}

.canvas-area {
    background-color: blueviolet;
    border-radius: 20px;
    height: 80vh;
    margin: 20px;
}

canvas {
    background-color: #f4f5f7;
    border: #777 solid 2px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}


